* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    padding: 20px 0;
    background: linear-gradient(#009688 0% 18%, #D8DBD5 18% 100%);
}

.container {
    max-width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
}

.left-box, .right-box {
    height: 90vh;
    background-color: #EAEAEA;
}

.left-box {
    width: 35%;
    background-color: white;
    border-right: 1px solid #B1B1B1;
}

.right-box {
    width: 65%;
    background-image: url("../img/mine.jpg");
}

/* sezione Nome Utente  */

.username {
    padding: 9px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.username-avatar {
    max-width: 40px;
    display: inline-block;
}
.username-avatar img {
    width: 100%;
    border-radius: 50%;
    vertical-align: middle;
}

.username span {
    vertical-align: middle;
    font-size: 13px;
}

.username-icons {
    display: flex;
    color: #B1B1B1;
}

.username-icons i {
    margin: 0 7px;
}

/* sezione Notifiche  */

.notifications {
   background-color: #8EDAFD;
   padding: 14px;
   font-size: 12px;
   display: flex;
   align-items: center;
   height: 60px;
}

.notifications i {
    background-color: white;
    padding: 10px 8px;
    border-radius: 50%;
    color: #8EDAFD;
    font-size: 15px;
}

.notifications a {
    display: block;
    font-size: 10px;
    color: #608FA4;
}

.bell {
    margin-right: 10px;
}

/* sezione Search  */

.search {
    padding: 5px;
    height: 60px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 10px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    font-family: "Font Awesome 5 Free", 'Lato', sans-serif;
}

/* sezione lista Chats  */
.chats {
   height: calc(100% - 180px);
   overflow-y: scroll;
}

.chats ul li {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
}

.chats ul li img {
    max-width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chats ul li:hover {
    background-color: #E9EBEB;
}

/* sezione Messaggi della Chat  */

.contact-name{
    display: inline-block;
    vertical-align: middle;
}

.contact-name div {
    font-size: 10px;
    color: #B1B1B1;
}

.chat-container {
   height: calc(100% - 120px);
   overflow-y: scroll;
}

.chat-container li{
    max-width: 250px;
    list-style: none;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
}

.chat-container span {
    font-size: 12px;
}

.chat-container div {
    font-size: 10px;
    text-align: end;
    margin-top: 3px;
    color: #B1B1B1;
}

.green {
    background-color: #D5F9BA;
    margin-left: 60%;
}

.white {
    background-color: white;
    margin-left: 5%;
}

.write-message {  
    height: 60px;
}

.write-message input {
    padding: 10px;
    margin: 0 20px;
}

.write-message i:first-child {
    margin-left: 10px;
    color: #8A8F91;
}
.write-message i:last-child {
    margin-right: 10px;
    color: #6B7376;
}