* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(#009688 20%, #D8DBD5 10%);
}

.container {
    max-width: 80%;
    margin: auto;
    height: 100vh;
    padding: 20px 0;
    display: flex;
}

.left-box, .right-box {
    height: 100%;
    background-color: lightgrey;
}

.left-box {
    width: 35%;
    border-right: 1px solid #B1B1B1;
}

.right-box {
    width: 65%;
}

/* sezione Nome Utente  */

.username {
    padding: 9px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username-avatar {
    max-width: 40px;
    display: inline-block;
}
.username-avatar img {
    width: 100%;
    border-radius: 50%;
    vertical-align: middle;
}

.username span {
    vertical-align: middle;
    font-size: 13px;
}

.username-icons {
    display: flex;
    color: #B1B1B1;
    margin-right: 10px;
}

.username-icons i {
    margin: 0 5px;
}

/* sezione Notifiche  */

.notifications {
   background-color: #8EDAFD;
   padding: 14px;
   font-size: 12px;
   display: flex;
   align-items: center;
}

.notifications i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: #8EDAFD;
    font-size: 15px;
}

.notifications a {
    display: block;
    font-size: 10px;
    color: #608FA4;
}

.bell {
    margin-right: 10px;
}


